.startup-projects-main {
  display: flex;
}

.startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.starup-project-image > img {
  max-width: 100%;
  height: auto;
}

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  justify-content: space-between;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
.saaya-health-div {
  cursor: pointer;
  cursor: pointer;
  width: 100%;
  margin-right: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
}
.saaya-health-div:hover{
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .starup-project-image {
    display: none;
  }
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
