.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
    color: #868e96;
}