---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="i am full stack engineer and adrenaline junky guy who love to build and ship stuff" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta property="og:image" content="/public/banner.png" />
    <meta property="og:url" content="https://saadpasta.github.io/" />

    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
  <style>
    html {
      font-family: "Josefin Sans", sans-serif;
      scroll-behavior: smooth;
      font-weight: lighter;
    }

    body {
      margin: 0;
    }
  </style>
</html>
